* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-color: #000;
}

body {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
}

.loader::before {
    content: '';
    background: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}